/* Navbar styling */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
  background: rgb(7, 7, 7);
}

.navbar-heading {
  font-size: 24px;
  font-weight: bold;
  color: rgb(250, 250, 250);
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: rgb(250, 250, 250);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar-menu button {
  position: relative;
  top: -5px;
  padding: 10px 20px;
  background-color: #0e11d6;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* Add pointer cursor to indicate it's clickable */
}

.navbar-menu a:hover {
  text-decoration: underline;
}

/* Responsive adjustments for tablet screens (max-width: 768px) */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-heading {
    font-size: 20px;
  }

  .navbar-menu {
    gap: 15px;
  }

  .navbar-menu a {
    font-size: 16px;
  }
}

/* Responsive adjustments for mobile screens (max-width: 480px) */
@media (max-width: 480px) {
  .navbar {
    padding: 10px 5px;
  }

  .navbar-heading {
    font-size: 18px;
  }

  .navbar-menu {
    gap: 10px;
  }

  .navbar-menu a {
    font-size: 14px;
  }
}